/* Created by Ben Plate (ben9583) */

body {
	font-family: "Helvetica";
	background-color: rgb(13, 17, 23);
	color: rgb(201, 209, 217);
	height: 85vh;
	margin: 0;	
}

h1.fixed-title {
	position: fixed;
	top: 0;
	left: 3%;
	font-size: 2vw;
}

div.center-title {
	width: 75%;
	margin: auto;
	text-align: center;
}

h1.major-title {
	font-size: 10vw;
	font-weight: bold;
	margin: 5vw 0 0 0;
	opacity: 0;
	transition: opacity 1.5s;
}

span.major-subtitle {
	font-size: 3vw;
	font-weight: lighter;
	opacity: 0;
	transition: opacity 1.5s;
}

p.button {
	display: inline-block;
	user-select: none;
	background-color: #1F1E33;
}

p#skip-button {
	text-align: center;
	position: relative;
	left: calc(50% - 64px);
	padding: 10px;
	opacity: 0;
	transition: opacity 1.5s, background-color 0.25s;
}

p#skip-button:hover {
	background-color: #2C2E42;
}

p#skip-button:active {
	transition: background-color 0s;
	background-color: #2F306F;
}

div.horizontal-line {
	width: 90%;
	margin: auto;
	margin-top: 0;
	padding: 0;
	height: 5px;
	background-color: #1F1E33;
	position: relative;
	opacity: 0;
	transition: opacity 1.5s;
}

div.block-container {
	margin: auto;
	margin-top: 20px;
	height: 60%;
	justify-content: center;
	align-items: center;
	width: 90%;
}

div.block-section {
	float: left;
	width: 30%;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: calc(5% - 30px);
	height: 100%;
	border-right: thick solid #1F1E33;
	opacity: 0;
	transition: opacity 1.5s;
}

#block1-section3 {
	border: none;
}

h1.section-title {
	text-align: center;
	font-size: 3em;
	margin: 0;
}

p.description {
	line-height: 2em;
}

ul#project-list {
	opacity: 0;
	transition: opacity 1.5s;
}

li {
	line-height: 2em;
}

a {
	text-decoration: none;
	color: #8B96F5;
}

a:visited {
	color: #3F47B7;
}

ul#contact-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.contact-type {
	line-height: 1em;
	margin-bottom: 10px;
}

li.contact-value {
	line-height: 1em;
	font-wright: bold;
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 2em;
}

@media only screen and (max-width:1425px) {
	div.block-section {
		width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
		margin: 0;
		margin-bottom: 20px;
		left: 0;
		border-right: none;
		border-bottom: thick solid #1F1E33;
	}
	p.contact-value {
		font-size: 6vw;
	}
}